@font-face {
    font-family: IRANSanseWeb;
    src: url("../fonts/IRANSanseWeb.eot") format('embedded-opentype'),
    url("../fonts/IRANSanseWeb.woff") format('woff'),
    url("../fonts/IRANSanseWeb.ttf") format('truetype');
    font-size: 15px;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir.eot") format('embedded-opentype'),
    url("../fonts/Vazir.woff") format('woff'),
    url("../fonts/Vazir.ttf") format('truetype');
    font-size: 15px;
}

body {
    direction: rtl;
    text-align: right;
    font-family: Vazir;
    position: absolute;
    width: 100%;
    min-height: 700px;
    background-color: #f6f8fa;
}

.page_sidebar {
    width: 240px;
    background: #263238;
    height: 100%;
    position: absolute;
    bottom: 0;
}

#sidebar_menu {
    padding: 0;
    padding-top: 60px;
}

#sidebar_menu li {
    list-style: none;
}

#sidebar_menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.child_menu {
    padding-top: 10px !important;
    background: #2c3B40;
    display: none;
}

.child_menu a {
    width: 100%;
    font-size: 13px !important;
    padding-top: 5px !important;
}

#sidebar_menu .fa-angle-left {
    float: left;
    font-size: 16px;
    padding-left: 5px;
}

#sidebar_menu .active {
    background: #00bfd6;
}

.page_sidebar .fa-bars {
    font-size: 18px;
    float: left;
    margin: 15px;
    color: white;
    cursor: pointer;
}

.toggled {
    width: 50px !important;
}

.toggled .sidebar_menu_text {
    display: none !important;
}

.toggled .fa-angle-left {
    display: none !important;
}

.toggled .fa-angle-down {
    display: none !important;
}

.toggled #sidebar_menu li a {
    text-align: center;
}

.toggled .child_menu {
    margin-right: 50px;
    width: 230px;
    position: absolute;
    margin-top: -41px;
    z-index: 999;
    border-right: 1px solid #E1E1E1;
}

.toggled .child_menu a {
    text-align: right !important;
}

.page_content {
    margin-right: 240px;
}

.content_box {
    width: 97%;
    margin: 40px auto;
}

.panel .header {
    padding-right: 15px;
    height: 45px;
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel .panel_content {
    padding: 30px;
}

.panel {
    background: white;
    width: 100%;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.panel_content .form-control {
    width: 300px;
    border-radius: 0;
    -webkit-border-radius: 0;
    display: inline-block;
}

.page_content label {
    width: 170px;
    font-size: 14px;
    color: #686868;
}

.page_content .form-control:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

.page_content .btn-success, .page_content .btn-primary {
    border-radius: 0;
}

.has_error {
    color: red;
    font-size: 13px;
}

.bootstrap-select .dropdown-toggle {
    width: 300px !important;
}

.bootstrap-select .dropdown-menu {
    width: 300px !important;
    text-align: right !important;
}

.bootstrap-select .btn-light {
    background: white !important;
    border: 1px solid #ced4da;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: right !important;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #f6f8fa !important;
}

.table tr th {
    font-size: 15px !important;
    text-align: center;
}

.table tr td {
    text-align: center !important;
}

.dropdown-menu .inner .show a .text {
    font-size: 13px !important;
}

.message_div {
    width: 100%;
    background: rgba(225, 225, 225, 0.5);
    z-index: 9999999;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.message_div .message_box {
    background: white;
    width: 360px;
    height: 135px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 16px;
    padding: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

.message_div #msg {
    font-size: 15px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.message_div .alert {
    padding: 5px 30px 5px 30px !important;
    font-size: 14px !important;
    cursor: pointer;
}

.message_div .alert-danger {
    margin-right: 10px !important;
}

.header .dropdown {
    background: white !important;
    float: left !important;
}

.pagination {
    padding: 0px !important;
}

.dropdown .dropdown-menu {
    text-align: right !important;
    font-size: 13px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    max-height: 300px;
}

.dropdown-item.off {
    color: #999999 !important;

}

.dropdown-menu .dropdown-item {
    cursor: pointer;
    padding: 10px !important;
}

.dropdown-toggle:focus {
    box-shadow: none !important;
}

.tooltip {
    font-family: Vazir;
}

.tooltip-inner {
    background: #68a5ff !important;
    font-size: 13px !important;
}

.table .fa-remove {
    color: red;
}

.breadcrumb {
    background: white !important;
    padding: 5px;
    border: 1px solid #f3f3f3;
}

.breadcrumb .list-inline {
    margin-bottom: 0px !important;
    width: 100%;
    padding-right: 10px;
}

.breadcrumb .list-inline li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 14px;
}

.breadcrumb .list-inline li a {
    color: black;
    text-decoration: none;
}

.breadcrumb .list-inline li a .fa-angle-left {
    list-style: none;

}

.date_li {
    float: left;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    height: 100%;
    display: flex;
    line-height: 30px;
    background: #00bfd6;
}

.search_form {
    padding-bottom: 20px;
}

.form-control {
    height: 40px;
}

.search_form .btn-primary {
    font-size: 14px !important;
}

.table tbody tr td {
    vertical-align: middle;
}

.total_width_input {
    width: calc(100% - 180px) !important;
}

.left {
    text-align: left !important;
}

.col-md-6 .form-control {
    width: 100% !important;
}

.col-md-6 .bootstrap-select {
    width: 100% !important;
}

.col-md-6 .bootstrap-select .dropdown-toggle {
    width: 100% !important;
}

.color_option {
    color: white;
    padding: 5px;
    border-radius: 2px;
}

.choice_pic_box {
    background: #f8f8f8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #e5e5e5;
    min-height: 250px;
    position: relative;
}

.choice_pic_box .title {
    position: absolute;
    cursor: pointer;
    color: grey;
    width: 145px;
    height: 20px;
}

.choice_pic_box .pic_tag {
    margin: 0px auto !important;
    display: table;
    max-width: 100%;
    max-height: 300px;
}

.tag_box {
    margin-bottom: 23px;
    margin-top: 23px;
    background: #f8f8f8;
    width: 100%;
    height: auto;
    padding: 26px;
}

.tag_box .tag_div {
    background: #ccc;
    padding: 12px 25px;
    border-radius: 5px;
    display: initial;
    position: relative;
    margin-right: 15px;

}

.tag_box .tag_div .fa-remove {
    position: absolute;
    top: 5px;
    left: 5px;
}

.message_txt {
    font-size: 14px;
    color: red;
}

.product_pic {
    width: 100px;
    max-height: 220px;
}

#product_warranties .alert {
    padding: 8px !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    margin-top: 5px;
    margin-bottom: 5px !important;
}

.dropzone {
    border: 2px dashed #68a5ff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #ffffff;
}

#gallery_table {
    margin-top: 40px;
}

#gallery_table img {
    width: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#loading_box {
    background: rgba(255, 255, 255, 0.49);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    display: none;
}

#loading_box .loading_div {
    position: absolute;
    width: 220px;
    height: 20px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#loading_box .loading {
    width: 30px;
    height: 30px;
    border: 3px solid red;
    border-top: 3px solid red;
    float: right;
    margin-left: 10px;
    border-top: 3px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    animation: load 1s infinite;
}

@keyframes load {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.ui-sortable-helper {
    display: table;
}

.slider_img {
    max-width: 100%;
}

.item_group {
    padding: 15px;
    background: #f8fafc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.item_group .form-control {
    /*max-width: 350px;*/
}

.child_item_box {
    padding-top: 10px;
}

.child_item_box input[type='checkbox'] {
    margin-left: 10px;
    margin-right: 5px;
}

.item_remove_message {
    float: left;
    color: red;
    font-size: 13px;
    cursor: pointer;
}

.child_item_remove_message {
    color: red;
    font-size: 13px;
    cursor: pointer;
}

.input_item_box {
    margin-top: 10px;
}

#product_items_form .form-control {
    width: calc(100% - 260px) !important;
}

.child_filter_box {
    margin-top: 10px;
}

.item_filter_box {
    width: calc(100% - 260px) !important;
    margin-right: 174px;
    z-index: 10;
    position: relative;
    background: white;

}

.item_filter_box ul {
    position: absolute;
    width: 100% !important;
    overflow-y: auto;
    border: 1px solid #ced4da;
    background: white;
    margin-right: 0;
    padding: 10px;
    max-height:300px;
    display: none;


}

.item_filter_box ul li {
    list-style: none;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
}